.screen-wrapper {
    margin: 0;
    padding: 0;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.card p {
    user-select: none;
}

.card-title {
    user-select: none;
}

.card:hover{
     box-shadow: 1px 1px 3px grey;
}

.line {
    margin-left: 5%;
    width: 90%;
    border-top: 3px solid #a0a3a3;
}

 

.test-start-info {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.test-filter {
    display: flex;
    margin-left: 11%;
}

#dropdown-basic-button {
    margin-left: 5%;
}

.timeVideo {
    width: 25px;
    height: 25px;
}

.timeInfo {
    display: flex;
    gap: 10px;
}

.questionsInfo {
    display: flex;
    gap: 10px;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
 
}

.sidebar {
    grid-column: 1/4;
    max-width: 100vh;
    border-right: solid 2px rgb(201, 202, 200);
    border-top: solid 2px rgb(201, 202, 200);
    padding-top: 20px;
    padding-left: 8%;
}

.card-container {
    grid-column: 4/13;
}

li {
    list-style: none;
}

.topic-wrapper {
    display: flex;
    flex-direction: column;
}

.topic-wrapper h4{
    margin-left: 8px;
}

.duration-wrapper h4{
    margin-left: 8px;
}

.number-wrapper h4{
    margin-left: 8px;
}

ul {
    padding: 0;
}



.filter-info {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 8px;
}

.filter-info h2{
    margin-bottom: 6px;
}